<!-- Sección- Proyectos -->

<section id="proyecto" class="proyecto">

  <!--  Proyectos -->

  <div class="proyecto container">

          <div class="section-title">
              <h2> Mis Proyectos</h2>

          </div>

      <div class="row">
              <div class="col-lg-9">
                  <h3>Portfolio</h3>

                  <img src="../../../assets/img/MyPortfolio.png" class="img-fluid" alt="">

               </div>
                    <div class="col-lg-3 pt-lg-3 pt-lg-0 content "  >
                      <p> Primer proyecto en IT  <br>
                        Desarrollo:trabajo final </p>
                        <p class="fst-italic">
                          -Mi Portfolio Personal-
                      </p>


                     </div>

      </div>

  </div>

</section><!-- Fin proyectos -->

