 <!--  Sección Contacto  -->
 <section id="contacto" class="contacto">
  <div class="container">

          <div class="section-title">
              <h2>Contacto</h2>

          </div>

     <div class="row mt-2">

              <div class="col-md-6 d-flex align-items-stretch">
                 <div class="info-box">
                      <i class="bx bx-map"></i>
                      <h3>Mi Dirección</h3>
                      <p>- La Para- Córdoba </p>
                  </div>
              </div>
              <div class="col-md-6 mt-4 d-flex align-items-stretch">
                  <div class="info-box">
                      <i class="bx bx-envelope"></i>
                      <h3>Mi email</h3>
                      <p>normadelprato@gmail.com</p>
                  </div>
              </div>
              <div class="col-md-6 mt-4 d-flex align-items-stretch">
                  <div class="info-box">
                     <div class="social-item">
                          <a href="https://github.com/Normarale" target="_blank"><i class="fab fa-github"></i></a>
                          <a href="https://www.linkedin.com/in/norma-susana-delprato-82618340" target="_blank"><i class="fab fa-linkedin"></i></a>
                      </div>
                  </div>
              </div>
      </div>

  </div>
</section><!--Fin sección de contacto -->
