
/*--------------------------------------------------------------
# Estudios
--------------------------------------------------------------*/
.estudio .estudio-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.estudio .estudio-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.estudio .estudio-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #d2188d;
  margin-bottom: 10px;
}
.estudio .estudio-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.estudio .estudio-item ul {
  padding-left: 20px;
}
.estudio .estudio-item ul li {
  padding-bottom: 10px;
}
.estudio .estudio-item:last-child {
  padding-bottom: 0;
}
.estudio .estudio-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #d2188d;
  border: 2px solid #868686;
}
