<!-- Sección- Experiencia -->

<section id="experiencia" class="experiencia">

  <!--  Experiencias -->
  <div class="experiencia container">

          <div class="section-title">
              <h2> Mi Experiencia</h2>

          </div>

      <div class="row">
              <div class="col-lg-9">
                  <h3>Mutual de Sociedad Cultural</h3>
                  <p class="fst-italic">
                      Administrativa y a cargo de gerencia
                  </p>
                  <div class="row"></div>
                      <div class="col-lg-2">
                         <p> 01/2004- 01/2021</p>
                      </div>
                      <div class="col-lg-8">
                          <p> 17 años desempeñando tareas Administrativas y de soporte a gerencia,
                              tales como: atención al cliente, confección de legajos, conciliaciones bancarias,
                               análisis y evaluación de solucitudes, informes de deudores, gestión de cobranzas,
                               mantenimiento del sistema.




                          </p>
                      </div>
              </div>
              <div class="col-lg-3 pt-4 pt-lg-0 content"  >
                  <img src="/img/LogoMutual_redondo.png" class="img-fluid" alt="">

              </div>
      </div>

  </div>

</section><!-- Fin experiencias -->

