

/*--------------------------------------------------------------
# Experiencia
--------------------------------------------------------------*/
.experiencia .content h3 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #d2188e;
}

.experiencia .content ul {
  list-style: none;
  padding: 0;
}
.experiencia .content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.experiencia .content ul strong {
  margin-right: 10px;
}
.experiencia .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #d2188d;
  line-height: 0;
}
.experiencia .content p:last-child {
  margin-bottom: 0;
}
