<div id="menuppal">
  <nav class="navbar navbar-expand-lg  fixed-top navbarScroll navbar-dark" >
      <!-- LOGO -->
      <div class="Logo">
        <img src="../../../assets/img/Logo-ArgP.png">
          <div class="texto">
              <p>Argentina</p>
              <p>Programa</p>
          </div>
    </div><!--fin logo-->


        <div class="container-fluid">
         <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>

      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerMenu">
            <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active"routerLink= "''">Home</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./acerca">Sobre Mi</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./estudios" >Estudios</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./experiencia" >Experiencia</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./contacto" >Contacto</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#" >Login</a>
                  </li>
            </ul>

      </div>
    </div>
  </nav>

</div>
<!-- Fin Barra de navegación -->
<!--banner-->




