
      <!--Barra de navegacion-->




                <!-- LOGO -->
                <div class="Logo">
                  <img src="../../../assets/img/Logo-ArgP.png">
                    <div class="texto">
                        <p>Argentina</p>
                        <p>Programa</p>
                    </div>
              </div><!--fin logo-->



      <div class="tituloppal">
        <h1>Norma Delprato</h1>
        <h2>Ingeniera en Sistemas de información</h2>
            <h3>-Desarrolladora Web-<span> Argentina Programa</span></h3>
            <div class="social-links">
              <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.bi-github.com/" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
      </div>

